name: Build Engine

on:
  push:
    branches: [ master ]
    paths:
      - 'engines/**'

jobs:
  findengine:
    runs-on: ubuntu-latest
    outputs:
      engine: ${{ steps.findname.outputs.engine }}
      container: ${{ steps.findname.outputs.container }}
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Find Engine Name
      id: findname
      uses: luxtorpeda-dev/action-build-get-engine-name@v4
      with:
          token: ${{ secrets.GITHUB_TOKEN }}  
  build-steamruntime:
    if: ${{needs.findengine.outputs.container == 'steamruntime' }}
    runs-on: ubuntu-latest
    needs: findengine
    container:
      image: luxtorpedadev/runtime:7
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build
      run: ./common/start_build.sh ${{needs.findengine.outputs.engine}}
    - name: Package
      run: ./common/package.sh ${{needs.findengine.outputs.engine}}
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: ./dist
  build-ubuntu1804:
    if: ${{needs.findengine.outputs.container == 'ubuntu1804' }}
    runs-on: ubuntu-latest
    needs: findengine
    container:
      image: ubuntu:18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build
      run: ./common/start_build.sh ${{needs.findengine.outputs.engine}}
    - name: Package
      run: ./common/package.sh ${{needs.findengine.outputs.engine}}
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: ./dist
  finddeploy:
    needs: [build, findengine]
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
      build_number: ${{ steps.buildnumber.outputs.build_number }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v1
        with:
          name: dist
      - name: Generate Matrix
        id: matrix
        uses: luxtorpeda-dev/action-build-generate-file-matrix@v2
        with:
          name: dist/${{needs.findengine.outputs.engine}}
      - name: Generate build number
        id: buildnumber
        uses: einaregilsson/build-number@v2 
        with:
          token: ${{ secrets.github_token }}
          prefix: ${{needs.findengine.outputs.engine}}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: ${{ needs.findengine.outputs.engine }}-${{ steps.buildnumber.outputs.build_number }}
            release_name: ${{ needs.findengine.outputs.engine }} Version ${{ steps.buildnumber.outputs.build_number }}
            draft: false
            prerelease: false
  deploy:
    needs: [finddeploy, findengine]
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.finddeploy.outputs.matrix)}}
    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v1
      with:
        name: dist
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.finddeploy.outputs.upload_url }}
        asset_path: "dist/${{needs.findengine.outputs.engine}}/${{ matrix.name }}${{ matrix.extension }}"
        asset_name: "${{ matrix.name }}-${{ needs.finddeploy.outputs.build_number }}${{ matrix.extension }}"
        asset_content_type: application/x-xz
  update_packages:
    needs: [deploy, finddeploy, findengine, build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          ref: master
      - name: Update packages.json
        uses: luxtorpeda-dev/action-build-update-packages@v7
        with:
          matrix: ${{ needs.finddeploy.outputs.matrix }}
          version: ${{ needs.finddeploy.outputs.build_number }}
          app_ids: ${{ needs.build.outputs.app_ids }}
      - name: Commit package.json
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add metadata/packages.json
          git commit -m "Update packages.json for ${{ needs.findengine.outputs.engine }} version ${{ needs.finddeploy.outputs.build_number }}"
      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
      - name: Generate Packages Hash
        id: generatehash
        uses: luxtorpeda-dev/action-build-generate-sha1-hash@v1
        with:
            file: metadata/packages.json
      - name: Write Packages Hash
        uses: DamianReeves/write-file-action@e19fd875ed54f16fc583a3486e62547ce4a5dde8
        with:
            path: metadata/packages.hash
            contents: ${{ steps.generatehash.outputs.hash }}
            write-mode: overwrite
      - name: Publish To Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./metadata
          keep_files: true
          external_repository: luxtorpeda-dev/luxtorpeda-dev.github.io
          publish_branch: master
