name: Publish Packages Metadata

on:
  push:
    branches: [ master ]
    paths:
      - 'metadata/*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Generate Packages Hash
        id: generatehash
        uses: luxtorpeda-dev/action-build-generate-sha1-hash@v3
        with:
            file: metadata/packagessniper.json
      - name: Generate Packages Hash 256
        id: generatehash256
        uses: luxtorpeda-dev/action-build-generate-sha256-hash@v3
        with:
            file: metadata/packagessniper.json
      - name: Write Packages Hash
        uses: luxtorpeda-dev/write-file-action@v3
        with:
            path: metadata/packagessniper.hash
            contents: ${{ steps.generatehash.outputs.hash }}
            write-mode: overwrite
      - name: Write Packages Hash 256
        uses: luxtorpeda-dev/write-file-action@v3
        with:
            path: metadata/packagessniper.hash256
            contents: ${{ steps.generatehash256.outputs.hash }}
            write-mode: overwrite
      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./metadata
          keep_files: true
          external_repository: luxtorpeda-dev/luxtorpeda-dev.github.io
          publish_branch: master
