name: Build web ui

on:
  pull_request:
    paths:
      - 'webui/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./webui
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '22.12.0'
    - name: NPM Install
      run: npm ci
    - name: Angular Build
      run: npm run build
