name: Build Engine

on:
  pull_request:
    paths:
      - 'engines/**'

jobs:
  findengine:
    runs-on: ubuntu-latest
    outputs:
      engines: ${{ steps.findname.outputs.engines }}
      container: ${{ steps.findname.outputs.container }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Find Engine Names
        id: findname
        uses: luxtorpeda-dev/action-build-get-engine-name@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  build:
    runs-on: ubuntu-latest
    needs: findengine
    strategy:
      matrix:
        engine: ${{ fromJson(needs.findengine.outputs.engines) }}
    container:
        image: ${{ needs.findengine.outputs.container }}
        volumes:
            - /usr/share/dotnet:/gh/dotnet
            - /opt/ghc:/gh/ghc
            - /usr/local/share/boost:/gh/boost
            - /usr/local/lib/android:/gh/android
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Cleanup GH Environment
      run: |
        df -h
        sudo rm -rf /gh/dotnet/*
        sudo rm -rf /gh/ghc/*
        sudo rm -rf /gh/boost/*
        sudo rm -rf /gh/android/*
        df -h
    - name: Build
      run: ./common/start_build.sh ${{ matrix.engine }}
    - name: Package
      run: ./common/package.sh ${{ matrix.engine }}
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: ./dist
